{##
 # Block content : items
 #
 # @ListChild (list="welcome-block.vendor-stripe.content", weight="20")
#}

<div class="welcome-footer">

    <div class="bg"></div>

    <div class="do-not-show">
        <input type="checkbox" name="hide_welcome_block_stripe" id="hide_welcome_block_stripe" class="hide-welcome-block" />
        <label for="hide_welcome_block_stripe">{{ t('Do not show at startup anymore') }}</label>
    </div>
    <div class="close-button">{{ t('CLOSE') }}</div>
</div>
